<ul class="sandwich-ingredients-list">
    <li class="sandwich-item bread">Bread</li>
    {{#each ingredients}}
        <li>{{this}}</li>
    {{/each}}
    <li class="sandwich-item bread">Bread</li>
</ul>

<button id="save-sandwich" type="button">Save</button>