# .gitignore for Grails 1.2 and 1.3

# web application files
/web-app/WEB-INF

# IDE support files
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/stacktrace.log
/test/reports
/logs

# project release file
/*.war

# plugin release file
/*.zip

# older plugin install locations
/plugins
/web-app/plugins
/web-app/WEB-INF/classes

# "temporary" build files
/target

# other
*.iws

*.iml

/.idea

/breadless-web/*.iml
/breadless-web/.idea

puppet/.librarian
puppet/.tmp
puppet/Puppetfile.lock
puppet/modules/apt/
puppet/modules/archive/
puppet/modules/firewall/
puppet/modules/gradle/
puppet/modules/jboss/
puppet/modules/jenkins/
puppet/modules/mongodb/
puppet/modules/mysql/
puppet/modules/nginx/
puppet/modules/openvpn/
puppet/modules/redis/
puppet/modules/resolv_conf/
puppet/modules/s3cmd/
puppet/modules/sonar/
puppet/modules/stdlib/
puppet/modules/sysctl/
puppet/modules/upstart/

.vagrant


breadless-web/target
