#main-region {
    padding: 0;
}

ul.sandwich-ingredients-list
{
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.sandwich-form-container {
    margin: auto;
    margin-top: 50px;
    width: 500px;
}

.sandwich-form {
    width: 100%;
}

.ingredient-select {
    margin-left: 150px;
}

.sandwich-item {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.save-sandwich-btn {
    margin-left: 235px;
}

.bread {
    background-color: beige;
    line-height: 50px;
}